@font-face {
    font-family: 'ralewayregular';
    src: url('../font/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('../font/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../font/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../font/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

.container {
    height: 100%;
    width: 1920px;
    max-width: 100%;
    min-width: 200px;
    margin: 0 auto;
    min-height: 100%;
}

.header {
    width: 1920px;
    height: 1024px;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    position: relative;
}

.header__logo {
    position: absolute;
    left: 20%;
    top: 4%;
}

.logo__img {
    float: left;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
}

.logo__img:hover {
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    -moz-transition: 3s;
    -ms-transition: 3s;
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
}

.logo__text {
    font-family: 'ralewayregular';
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
    float: left;
    padding-top: 2%;
}

.header__menu {
    position: absolute;
    left: 774px;
    top: 58px;
}

.menu__list {
    list-style: none;
    float: left;
    padding-right: 30px;
}

.menu__list a {
    font-family: 'montserratlight';
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    text-decoration: none;
}

.menu__list a:hover {
    font-family: 'montserratlight';
    color: #c7b29a;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.header__icons {
    position: absolute;
    float: left;
    right: 374px;
    top: 55px;
}

.icons__cart-link {
    margin-right: 20px;
}

.icons__cart-link:hover {
    margin-right: 20px;
    border-bottom: 2px solid #c7b29a;
}

.icons__search-link:hover {
    border-bottom: 2px solid #c7b29a;
}

.header__slogan {
    position: absolute;
    width: 589px;
    left: 666px;
    top: 379px;
}

.header__slogan-h2 {
    font-family: 'ralewaymedium';
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 12px;
}

.header__slogan-h1 {
    font-family: 'ralewayextrabold';
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 17px;
}

.header__slogan-p {
    font-family: 'montserratlight';
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.header__button {
    position: absolute;
    left: 876px;
    top: 589px;
}

.header__button input[type=submit] {
    font-family: 'ralewayextrabold';
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    border-radius: 3px;
    background-color: #998675;
    border-color: #998675;
    border-bottom-color: #998675;
    width: 170px;
    height: 53px;
}

.header__button input[type=submit]:hover {
    font-family: 'ralewayextrabold';
    color: #998675;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #998675;
    background-color: #ffffff;
    width: 170px;
    height: 53px;
}

.header__arrows {
    position: absolute;
    top: 475px;
}

.arrows__left {
    position: relative;
    float: left;
    left: 150px;
}

.arrows__right {
    position: absolute;
    float: left;
    left: 1730px;
}

.arrows__left:hover {
    position: relative;
    float: left;
    left: 148px;
}

.arrows__right:hover {
    position: absolute;
    float: left;
    left: 1732px;
}

.header__slides {
    position: absolute;
    left: 909px;
    bottom: 40px;
}

.header__slides i {
    color: #ffffff;
    font-size: 11px;
    margin-right: 9px;
}

.header__slides i:hover {
    color: transparent;
    font-size: 11px;
    margin-right: 9px;
    margin-left: -2px;
    border: 1px solid white;
    border-radius: 10px;
}

.services {
    width: 1166px;
    height: 213px;
    position: relative;
    margin: auto;
}

.browser {
    width: 100%;
    height: 700px;
    background-color: #fbfaf8;
}

.purchase {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    width: 100%;
    height: 150px;
}

.latest-projects {
    width: 100%;
    height: 1001px;
}

.video-presentation {
    width: 100%;
    height: 705px;
    background-image: url(../img/video.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.mobile-devices {
    width: 100%;
    height: 695px;
    background-color: #fbfaf8;
}

.counters {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    width: 100%;
    height: 300px;
}

.recent-posts {
    width: 100%;
    height: 591px;
}

.partners {
    width: 100%;
    height: 489px;
    background-image: url(../img/mountains_bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.clear {
    clear: left;
}

.footer {
    position: relative;
    width: 100%;
    height: 619px;
    background-color: #191919;
}

.footer__bottom {
    position: absolute;
    bottom: 0px;
    background-color: #111111;
    width: 100%;
    height: 111px;
}
